<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products index</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
        integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-3">
        <h1 class="alert alert-success">
            Hey {{nombre}} ! <img src="uploads/{{photo}}" alt="Profile Pic" >
                <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">
                    logout
                </button>
            <h2 class="alert alert-warning">Server Mode: {{mode}}</h2>
        </h1>
    </div>
    <h1 class="text-center m-5">Welcome! Please use the chat below in case you need to contact us!</h1>
    <div style="margin-left: auto; margin-right: auto;">
        <h2 class="text-center my-4">Chat</h2>
        <form class="d-flex justify-content-center">
            <input type="email" id="user" placeholder="Email" class="border border-primary rounded-3 mx-1" required>
            <input type="text" name="text" id="text" placeholder="Write your message" class="border border-primary rounded-3 mx-1">
            <input type="button" id="chatForm" value="Send" class="btn btn-dark border-primary mx-1">
        </form>
        <div id="messages" class="d-flex align-items-center border border-primary rounded-3 flex-column" style="max-width: 600px; margin: 10px auto" >
        </div>
        <div id="reduct" class="d-flex align-items-center border border-primary rounded-3 flex-column" style="max-width: 600px; margin: 10px auto" >
        </div>
    </div>
    <script src="../js/socket.js"></script>
</body>
</html>